<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Fakebook!</h1>
  <p>Hello <%= @user.email %>!</p>
  <p>Thank you for signing up to Fakebook . We're excited to have you on board!</p>
  <!-- You can add more HTML content here -->
</body>
</html>
